
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hello{
  height: 100vh;
  width: 100%;
  background-image: url(./img/BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hello .myname{
  text-align: center;
  font-size: 10rem;
  color: #FFD9B7;
  font-family: 'Lobster', cursive;
  padding-top: 15%;
}
.hello .mypos{
  margin-top: 2%;
  text-align: center;
  font-size: 4rem;
  color: #C8E4B2;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mypos span{
  color: #D7BBF5;
}
.deer{
  position: absolute;
  top:70%;
  right: 30%;
}

.treeLeft1{
  position: absolute;
  left: 10%;
  bottom: 15%;
  scale: 1.5;
}

.treeLeft2{
  position: absolute;
  bottom: 9%;
}

.kai{
  position: absolute;
  right: 15%;
  bottom: 10%;
}
.raccon{
  position: absolute;
  left: 30%;
  bottom: 10%;
}

/* Mid-content */

.secondCon,
.thirdCon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
  padding: 0 7%;
}
.secondCon img{
  width: 30%;
  border-radius: 50%
}

.secondCon hr{
  margin: 7rem 0;
  width: 50%;
  height: 2px;
  color: grey;
}

.greetingImg{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.greeting,.skill{

  text-align: center;
}
.greetingMessage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20%;
}
.greetingMessage p{
  font-size: 1.5rem;
  font-family: 'Caveat', cursive;
}
.greetingMessage h1,
.skill h1,
.thirdCon h1{
  font-size: 3rem;
  font-family: 'Indie Flower', cursive;
  color: #94ADD7;
}
.skillContainer{
  margin-top: 5rem;
  display: grid;
  grid-template-columns: .5fr 0.5fr;
  grid-template-rows: auto auto;
  gap: 5px;
}

.skillImg img{
  width: 70%;
}
.skillDescrip,.skillImg
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}
.skillDescrip h2{
  font-family: 'Indie Flower', cursive;
  color: #94ADD7;
}
.skillDescrip p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Third-content */

.thirdCon h4{
  font-family: 'Indie Flower', cursive;
  color: #94ADD7;
}
.thirdCon p{
  font-size: 1rem;
  font-family: 'Caveat', cursive;
  text-align: center;
  margin-bottom: 1rem;
}

.btn{
  padding: 15px 20px;
  background-color:  #94ADD7;;
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover{
  scale: 1.3;
  background-color:#A2FF86;

}

footer{
  text-align: center;
  margin-top: 5rem;
  width: 100%;
  height: 5rem;
  background-color:#4FC0D0 ;
}

.contact{
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
  
}

.contact a{
  text-decoration: none;
}
footer p{
  color: white;
  font-size: .7rem  ;
}

@media (max-width:450px) and (max-height:690px) {
 
.hello .myname{
  font-size: 5rem;
  padding-top: 50%;
}
 .hello .mypos{
  font-size: 2rem;
 }
 .deer{
  position: absolute;
  top:65%;
  right: 0%;
  scale: 0.5;
}

.treeLeft1{
  position: absolute;
  left: -20%;
  bottom: 9%;
  scale: 0.75;
}

.treeLeft2{
  position: absolute;
  bottom: 5%;
  scale: 0.5;
}

.kai{
  position: absolute;
  right: -7%;
  bottom: 8%;
  scale: 0.4;
}
.raccon{
  position: absolute;
  left: 30%;
  bottom: 11%;
  scale: 0.6;
}

}

@media (max-width:450px) and (min-height:700px) {
 
.hello .myname{
  font-size: 5rem;
  padding-top: 70%;
}
 .hello .mypos{
  font-size: 2rem;
 }
 .deer{
  position: absolute;
  top:70%;
  right: 0%;
  scale: 0.5;
}

.treeLeft1{
  position: absolute;
  left: -20%;
  bottom: 10%;
  scale: 0.75;
}

.treeLeft2{
  position: absolute;
  bottom: 7%;
  scale: 0.5;
}

.kai{
  position: absolute;
  right: -7%;
  bottom: 10%;
  scale: 0.4;
}
.raccon{
  position: absolute;
  left: 30%;
  bottom: 11%;
  scale: 0.6;
}

}

@media (min-width:450px) and (max-width:576px)  {
 
.hello .myname{
  font-size: 7rem;
  padding-top: 50%;
}
 .hello .mypos{
  font-size: 3rem;
 }
 .deer{
  position: absolute;
  top:70%;
  right: 0%;
  scale: 0.5;
}

.treeLeft1{
  position: absolute;
  left: -20%;
  bottom: 10%;
  scale: 0.75;
}

.treeLeft2{
  position: absolute;
  bottom: 7%;
  scale: 0.5;
}

.kai{
  position: absolute;
  right: -7%;
  bottom: 10%;
  scale: 0.4;
}
.raccon{
  position: absolute;
  left: 30%;
  bottom: 11%;
  scale: 0.6;
}

}

@media (min-width:576px) and (max-width:768px)  {
 
.hello .myname{
  font-size: 7rem;
  padding-top: 30%;
}
 .hello .mypos{
  font-size: 3rem;
 }
 .deer{
  position: absolute;
  top:70%;
  right: 10%;
  scale: 0.6;
}

.treeLeft1{
  position: absolute;
  left: -10%;
  bottom: 10%;
  scale: 0.85;
}

.treeLeft2{
  position: absolute;
  bottom: 6.2%;
  scale: 0.6;
}

.kai{
  position: absolute;
  right: 0%;
  bottom: 10%;
  scale: 0.5;
}
.raccon{
  position: absolute;
  left: 22%;
  bottom: 11%;
  scale: 0.7;
}

}


@media (min-width:769px) and (max-width:992px)  {
 
.hello .myname{
  font-size: 9rem;
  padding-top: 45%;
}
 .hello .mypos{
  font-size: 4rem;
 }
 .deer{
  position: absolute;
  top:73%;
  right: 10%;
  scale: 0.7;
}

.treeLeft1{
  position: absolute;
  left: -10%;
  bottom: 10%;
  scale: 1;
}

.treeLeft2{
  position: absolute;
  bottom: 6.2%;
  scale: 0.7;
}

.kai{
  position: absolute;
  right: 0%;
  bottom: 10%;
  scale: 0.7;
}
.raccon{
  position: absolute;
  left: 22%;
  bottom: 11%;
  scale: 1;
}

}


@media (min-width:993px) and (max-width:1200px) and (min-height:500px)  {
 
.hello .myname{
  font-size: 9rem;
  padding-top: 7%;
}
 .hello .mypos{
  font-size: 4rem;
 }
 .deer{
  position: absolute;
  top:60%;
  right: 10%;
  scale: 0.7;
}

.treeLeft1{
  position: absolute;
  left: -10%;
  bottom: 10%;
  scale: 1;
}

.treeLeft2{
  position: absolute;
  bottom: 6.2%;
  scale: 0.7;
}

.kai{
  position: absolute;
  right: 0%;
  bottom: 10%;
  scale: 0.7;
}
.raccon{
  position: absolute;
  left: 22%;
  bottom: 11%;
  scale: 1;
}

}